.hi{
    font-size: 32px;
    color: #37517e;
    font-weight: bolder;
    
}
section{
    margin-top: 80px;
}
.val{
    font-size: 16px;
    float: right;
    font-weight: bold;
}
.type{
    font-size: 16px;
    font-weight: 600;
}
.progress-bar{
    background-color: #37517e;
    
}
